*/.settings/
*/target/
*/.settings
*/.classpath
*/.project
/Logging/logback/target/
/Logging/logbackweb/target/
/Logging/logbackLevels/target/
/Logging/logbackLevels (copy)/target/
/Logging/logbackLevels2/target/
/Logging/logbackLevels2 (copy)/target/
/Logging/logbackLevelsMultiple/target/
/Logging/logbackLevelsMultiple (copy)/target/
/Logging/logbackLevelsAccumulate/target/
/Logging/logbackAppendersAccumulate/target/
/Logging/logbackAppendersAccumulate-Duplicate/target/
/Logging/logbackAppendersAccumulate-Duplicate (copy)/target/
/Logging/logbackAppendersAccumulate-Multiple/target/
/Logging/logbackAppendersAccumulate-Multiple (copy)/target/
/Logging/logbackAppendersAccumulate-AddivityFlag/target/
/Logging/logbackAppendersAccumulate-AddivityFlag (copy)/target/
/Logging/logbackAppenders-ContextName/target/
/Logging/logbackAppenders-ContextName (copy)/target/
/Logging/logbackAppenders-Variables/target/
/Logging/logbackAppenders-VariablesSubstitution/target/
/Logging/logbackAppenders-VariablesSubstitution (copy)/target/
/Logging/logbackAppenders-VariablesSubstitution -PropertiesFile/target/
/Logging/logbackAppenders-VariablesSubstitution-PropertiesFile/target/
/Logging/logbackAppenders-VariablesSubstitution-PropertiesFile (copy)/target/
/Logging/logbackAppenders-VariablesSubstitution-PropertiesFile2/target/
/Logging/logbackAppenders-VariablesSubstitution-PropertiesFile2 (copy)/target/
/Logging/logbackAppenders-VariablesSubstitution-scope/target/
/Logging/_logback/target/
/Logging/logback/_logback/target/
/Logging/logback/logback-introduction/target/
/Logging/logback/1-logback-introduction/target/
/Logging/logback/logbackweb/target/
/Logging/logback/2-logbackweb/target/
/Logging/logback/3-logbackLevels/target/
/Logging/logback/3-logback-introduction-levels/target/
/Logging/logback/2logback-introduction-web/target/
/Logging/logback/2-logback-introduction-web/target/
/Logging/logback/logbackLevels2/target/
/Logging/logback/4-logback-introduction-Levels2/target/
/Logging/logback/4-logback-introduction-levels2/target/
/Logging/logback/2-logback-configuration-web/target/
/Logging/logback/3-logback-configuration-levels/target/
/Logging/logback/4-logback-configuration-levels2/target/
/Logging/logback/logbackLevelsMultiple/target/
/Logging/logback/5-logback-configuration-levelsmultiple/target/
/Logging/logback/logbackAppendersAccumulate-Duplicate/target/
/Logging/logback/6-logback-configuration-appenders-accumulate-duplicate/target/
/Logging/logback/logbackAppendersAccumulate-Multiple/target/
/Logging/logback/7-logbackAppendersAccumulate-Multiple/target/
/Logging/logback/7-logback-configuration-appenders-accumulate-multiple/target/
/Logging/logback/logbackAppendersAccumulate-AddivityFlag/target/
/Logging/logback/8-logback-configuration-appenders-accumulate-addivityflag/target/
/Logging/logback/logbackAppenders-ContextName/target/
/Logging/logback/9-logback-configuration-contextname/target/
/Logging/logback/logbackAppenders-VariablesSubstitution/target/
/Logging/logback/10-logback-configuration-variables-substitution/target/
/Logging/logback/logbackAppenders-VariablesSubstitution-PropertiesFile/target/
/Logging/logback/11-logback-configuration-variables-propertiesfile/target/
/Logging/logback/logbackAppenders-VariablesSubstitution-PropertiesFile2/target/
/Logging/logback/12-logback-configuration-variables-propertiesfile2/target/
/Logging/logback/logbackAppenders-VariablesSubstitution-scope/target/
/Logging/logback/13-logback-configuration-variables-scope/target/
/Logging/logback/14-logback-appenders-consoleappender/target/
/Logging/logback/14-logback-appenders-consoleappender (copy)/target/
/Logging/logback/15-logback-appenders-fileappender/target/
/Logging/logback/15-logback-appenders-fileappender (copy)/target/
/Logging/logback/16-logback-appenders-fileappender-timestamp/target/
/Logging/logback/16-logback-appenders-fileappender-timestamp (copy)/target/
/Logging/logback/17-logback-appenders-fileappender-timestamp (copy)/target/
/Logging/logback/17-logback-appenders-rollingfileappender-rollingtimebased/target/
/Logging/logback/17-logback-appenders-rollingfileappender-rollingtimebased (copy)/target/
/Logging/logback/18-logback-appenders-rollingfileappender-rollingtimebasedx/target/
/Logging/logback/18-logback-appenders-rollingfileappender-sizeandtime/target/
/Logging/logback/18-logback-appenders-rollingfileappender-sizeandtime (copy)/target/
/Logging/logback/19-logback-appenders-smtpappender-email/target/
/Logging/logback/23-logback-appenders-syslogappender/target/
/Logging/logback/23-logback-appenders-syslogappender (copy)/target/
/Logging/logback/24-logback-appenders-siftappender/target/
/Logging/logback/25-logback-/target/
/Logging/logback/25-logback-encoder-patternlayoutencoder-/target/
/Logging/logback/25-logback-encoder-patternlayoutencoder-immediateFlush/target/
/Logging/logback/25-logback-encoder-patternlayoutencoder-immediateFlush (copy)/target/
/Logging/logback/26-logback-layout-/target/
/Logging/logback/26-logback-layout-patternlayout-patternsample/target/
/Logging/logback/26-logback-layout-patternlayout-patternsample (copy)/target/
/Logging/logback/27-logback-layout-patternlayout-/target/
/Logging/logback/27-logback-layout-patternlayout-conversion/target/
/Logging/logback/27-logback-layout-patternlayout-conversion (copy)/target/
/Logging/logback/28-logback-layout-patternlayout-conversion (/target/
/Logging/logback/28-logback-layout-evaluator/target/
/Logging/logback/28-logback-layout-evaluator (copy)/target/
/Logging/logback/29-logback-layout-eventevaluator/target/
/Logging/logback/29-logback-layout-eventevaluator (copy)/target/
/Logging/logback/30-logback-layout-htmllayout/target/
/Logging/logback/30-logback-layout-htmllayout (copy)/target/
/Logging/logback/31-logback-layout-xmllayout/target/
/Logging/logback/20-logback-appenders-smtpappender-email-htmllayout/target/
/Logging/logback/21-logback-appenders-smtpappender-email-triggerevent/target/
/Logging/logback/22-logback-appenders-dbappender-connectionsource/target/
/Logging/logback/31-logback-layout-xmllayout (copy)/target/
/Logging/logback/32-logback-filter-ownfilter/target/
/Logging/logback/32-logback-filter-ownfilter (copy)/target/
/Logging/logback/33-logback-filter-levelfilter/target/
/Logging/logback/33-logback-filter-levelfilter (copy)/target/
/Logging/logback/34-logback-filter-thresholdfilter/target/
/Logging/logback/34-logback-filter-thresholdfilter (copy)/target/
/Logging/logback/35-logback-filter-evaluatorfilter-/target/
/Logging/logback/35-logback-filter-evaluatorfilter-geventevaluator/target/
/Logging/logback/35-logback-filter-evaluatorfilter-geventevaluator (copy)/target/
/Logging/logback/36-logback-filter-evaluatorfilter-janinoeventevaluator/target/
/Logging/logback/36-logback-filter-evaluatorfilter-janinoeventevaluator-basic/target/
/Logging/logback/36-logback-filter-evaluatorfilter-janinoeventevaluator-basic (copy)/target/
/Logging/logback/37-logback-filter-evaluatorfilter-janinoeventevaluator-/target/
/Logging/logback/37-logback-filter-evaluatorfilter-janinoeventevaluator-basicEventEvaluator/target/
/Logging/logback/37-logback-filter-evaluatorfilter-janinoeventevaluator-basicEventEvaluator (copy)/target/
/Logging/logback/38-logback-filter-evaluatorfilter-janinoeventevaluator-javablock/target/