<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>
                    if (mdc == null || mdc.get("username") == null)
                    return true;
                    
                    if (logger.startsWith("first"))
                    return true;                    

                    String pass = (String) mdc.get("password");

                    if (pass.contains("test123") &amp;&amp; <!-- & encoded as &amp; -->
                    message.contains("second")) {
                    return true;
                    }

                    return false;
                </expression>
            </evaluator>
            <OnMismatch>DENY</OnMismatch>
            <OnMatch>NEUTRAL</OnMatch>
        </filter>
        <layout>
            <pattern>%-4relative [%thread] %-5level %logger - %msg%n</pattern>
        </layout>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>