 *{
  margin:0;
  padding:0;
}

body {
  border-color : #cc0000;
  background-color : #F5F5F5;
}
p, ul, ol, li {
  font : 10pt Arial, Helvetica, geneva;;
}
h1 {
  font : bold 14pt Arial, Helvetica, geneva;
}
h2 {
  font : bold 12pt Arial, Helvetica, geneva;
}

.centered {
  width:400px;
  height:250px;
  position:absolute;
  left:40%;
  top:20%;
  margin:0px 0 0 0px;
  background-color:#338BC7;
  border-radius:6px;
}

.centered p{
    font-size:14px;
    font-weight: bold;
    margin:30px 10px 10px;
    color:white;
    text-align:center;
    position:absolute;    
}

/*div {
    border: #000000 dotted;    
}*/


